@use 'src/styles/_vars';

.usersCards{
  margin: 2em auto;
  width:90%;

  @media (min-width: vars.$max-width) {
    width: vars.$max-width;
  }
  

  &__title{
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    margin-bottom: 1em;
  }

  &__list{
    
    padding-bottom:5em;
    display:flex;
    flex-direction: column;
    width: 100%;

    @media only screen and (min-width: 601px) {
      flex-direction: row;
      flex-wrap:wrap;
      justify-content:space-between;

    }
  }
}

// @media only screen and (min-width: 601px) {

//   .usersCards{
   
// }

// }
