.mapResults{
  text-align: center;
  margin-top: 1em;
  &__map{
    height: 95%;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 50vh;
    margin-top: 5%;
  }
}

#map{
  height: 95%;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 50vh;
}



@media only screen and (min-width: 601px) {

  .mapResults{
    //display:flex;
    width: 50%;
    order: 2;
  
    

    &__Map{

      object-fit: cover;
      padding: 3em;
      width:unset;
    }

  }

}
