.mapResults{
  text-align: center;
  margin-top: 3em;
  &__Map{
    width: 250px;
  }
}

@media only screen and (min-width: 601px) {

  .mapResults{
    //display:flex;
    width: 50%;
    order: 2;
  
    

    &__Map{

      object-fit: cover;
      padding: 3em;
      width:unset;
    }

  }

}
