@use 'src/styles/vars';

.homePageFonctionnalities{
  
  display:flex;
  flex-flow: column wrap;
  background-color:vars.$light-red;
  margin-top:1.5rem;

  @media (min-width: vars.$breakpoint-tablet) {
    flex-flow: row nowrap;
  }

  @media (min-width: vars.$max-width) {
    justify-content: center;
    
  }

  &__item{
    // border:1px solid black;
    width:100%;
    padding:2rem;
    display:flex;
    justify-content:center;
    align-items:center;

    @media (min-width: vars.$breakpoint-tablet) {
      flex-direction:column;
    }

    @media (min-width: vars.$max-width) {
      width: calc(#{vars.$max-width}/3);
    }

    &:hover{
    
      @media (min-width: vars.$breakpoint-tablet) {
        background-color:vars.$light-color;

        .homePageFonctionnalities__item__text__title{
          color:black;
          text-shadow: none;
        }
      }

    }

    &__image{
      width:40%;
      margin-bottom:2rem;
    }

    &__text{
      &__title{
        font-size:1.8rem;
        color:white;
        text-shadow: 0.5px 0px 1px black;
        margin-bottom:1.5rem;
      }
  
      &__content{
        font-size:1.2rem;

      }

    }

  }
}
