@use 'src/styles/_vars';


.info {

  &__item {
    
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 15px 50px 15px 50px;
    border-radius: 5px;
    background-color: vars.$dark-blue;
  }


}
