@use 'src/styles/_vars';

.profile{
  width:90%;
  margin:5rem auto;
  position:relative;

  @media (min-width:vars.$max-width){
    width:vars.$max-width;
  }

  &__title {
    font-weight: 700;
    font-size: 1.5em;
    //padding-top: 6em;
    padding-bottom: 3rem;
    text-align: center;
    width: 100%;
   
    @media (min-width: vars.$breakpoint-tablet){
      // margin-top: 2em;
      font-weight: 700;
      font-size: 2.5em;
      text-align: left
    }
  }

  &__content {
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    // border:1px solid blue;
    position:relative;

    @media (min-width: vars.$breakpoint-tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      // margin-top: -120px;
      // width:45%
    }

    &__left {
      width: 100%;
      background-color:vars.$light-blue;
      border-radius:2rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      margin-bottom:2rem;
      padding-top:2.5rem;


      @media (min-width: vars.$breakpoint-tablet){
        width:48%;
      } 

      @media (min-width: vars.$breakpoint-desktop){
        width:38%;
      } 
    }

    &__right {
      width: 100%;
      // border:2px solid green;

      @media (min-width: vars.$breakpoint-tablet){
        width:48%;
      }

      @media (min-width: vars.$breakpoint-desktop){
        width:58%;
      } 
    }
  }

  &__buttons{
    display:flex;
    flex-direction: column;
    
    // border:1px solid red;

    @media (min-width: vars.$breakpoint-tablet){
      flex-direction:row;
      width:100%;
      position:absolute;
      bottom:-4rem;
      right:0;
    }

    @media (min-width: vars.$breakpoint-desktop){
      width:65%;
      justify-content: flex-end;      
    }

  }
}

.card {
  
  // background-color: white;
  border-radius: 30px;
  margin-bottom:2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  &__title {
    font-weight: bold;
    text-align: left;
    padding: 2rem;
    font-size: 1.5rem;
   
  }

  &__text{
    padding:0 2rem 2rem;
    text-align:justify;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap; 
    padding: 0.5rem 2rem 2rem;
    // border:1px solid blue;

    &__emptyCard{
      text-align:justify;
    }
  }

  &__item {
    padding:1.2rem;
    display:flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius:0.5rem;
    position: relative;
    font-size:1.1rem;
    // font-weight:bold;
    display:flex;
    align-items:center;
    margin-bottom:1rem;
    color: vars.$light-color;
    margin-right:2rem;

    &--red {
      background-color: vars.$light-red;
      color: vars.$light-color;
      font-weight:500;

    }

    &--grey {
      background-color: vars.$light-grey;
      color: vars.$dark-color;

    }
  }

}

