.userCard{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  background-color: #F0F0F0;
  box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);

  &__flexCard{
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &__leftCard{
    width: 40%;
    display:flex;
    flex-direction: column;
    padding:1em;

    
  }

  &__name{
    font-size: 1.25em;
  }

  &__localisation{
    margin-bottom: 1em;
  }

  &__picture{
    height: 2em;
    border-radius: 50%;
    background-image: url("src/assets/pictures/profile.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  
  }

  &__rightCard{
    width: 60%;
    display:flex;
    flex-direction: column;
    padding:1em;
  }

  &__name,&__localisation,&__role,&__created_At{
    font-weight: bold;
  }

  &__created_At{
    margin-bottom: 1em;
  }

  &__hobbys
  {
    width: 100%;
    display:flex;
    flex-direction: row;
    margin-top: 0.5em;
    justify-content: space-around;
  }
  &__hobby{
    display: inline-block;
    padding: 0.5em;
    background-color: #dad8d8;
    margin: 0.5em;
  }

  
}

@media only screen and (min-width: 601px) {

  .userCard{
    width: 30%;
    display: inline-block;
    margin-left: 3%;
   
}

}
