@use 'src/styles/_vars';

.profilesResults{
  height: 50vh;

  
  &__Header{
    margin-top: 0.5em;
    padding: 0.5em;
    
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 0.5em;

    @media only screen and (min-width: 601px) {
      border: 1px solid #000;
      margin-top: 0;
    }
  }

  &__List{
    width: 80%;
    margin: auto;
    padding-bottom: 5em;

    @media only screen and (min-width: 601px) {
      width: 100%;
      padding-bottom: 0;
      height: initial;
      overflow-y: scroll;
    }
  }

  &__City{
    font-family: vars.$font-title;
    font-size: 1.25em;
    margin-bottom: 0.5em;
    text-decoration: underline;
  }

  &__SearchResult{
    font-style: italic;
    font-size: 1em;
    font-family: vars.$font-title;
  }
}

@media only screen and (min-width: 601px) {

  .profilesResults{
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    width: 50%;
    height: 90%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;

   

  &__Title{
    
    height: 4em;
    border-top: solid black 0px;
    border-bottom: solid black 0px;
  }
  &navBar__List{
    overflow-y: scroll;
  }
}

}
