@use 'src/styles/_vars';

.profilesResults{
  height: 50vh;

  
  &__Header{
    margin-top: 0.5em;
    padding: 0.5em;
    
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-bottom: 0.5em;
  }

  &__List{
    width: 80%;
    margin: auto;
    padding-bottom: 5em;
  }

  &__City{
    font-family: vars.$font-title;
    font-size: 1.25em;
    margin-bottom: 0.5em;
    text-decoration: underline;
  }

  &__SearchResult{
    font-style: italic;
    font-size: 1em;
    font-family: vars.$font-title;
  }
}

@media only screen and (min-width: 601px) {

  .profilesResults{
    //display:flex;
    margin-top: 3em;
    width: 50%;
    padding-bottom:0em;

    &__List{
      height: initial;
      overflow-y: unset;
    }

  &__Title{
    
    height: 4em;
    border-top: solid black 0px;
    border-bottom: solid black 0px;
  }
  &navBar__List{
    overflow-y: scroll;
  }
}

}
