@use 'src/styles/_vars';

.profileLocalisation {
  margin-top:2rem;
  width:90%;
  margin:auto;
  padding-bottom:2rem;

  &__title{
    margin-top:2rem;
    font-size: 2rem;
    color:vars.$light-color;
    font-weight: bold;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    padding-bottom:2rem;
    
  }

  &__map{

    img{
      width: auto;
      height: 250px;
    }
    
  }
  
}


// &__localisation{
//   padding-top: 2rem;
//   padding-bottom: 1rem;
//   font-size:1.5rem;
// }
