@use 'src/styles/vars';

.userReview{

  // margin-left:2rem;
  display:flex;
  flex-direction: row;
  align-items: center;
  // border:1px solid red;
  // padding-bottom:2rem;
  // border:1px solid blue;

  @media (min-width: vars.$breakpoint-tablet) {
    flex-direction:column;
  }

  @media (min-width: vars.$breakpoint-desktop) {
    flex-direction:row;
  }

  &__image{
    width:90px;

  }

  // &:first-child{
  //   padding-left:5rem;
  // }

  &__text{
    padding-left:1rem;
    display:flex;
    flex-direction: column;
    align-items: start;

    &__username{
      color:vars.$light-color;
      font-weight: bold;
      font-size:1.2rem;
      padding-bottom:0.4rem;

    }
  
    &__city{
      font-size:1rem;
      padding-bottom:0.3rem;

    }

    &__country{
      font-size:1rem;
      font-style:italic;

    }

  }

  
}
