$light-blue : #96CDEF;
$dark-blue : #346E93;
$light-red : #F48694;
$dark-red: #E12729;
$dark-color: #000;
$light-color : #fff;
$light-grey : #f3f3f3;
$breakpoint-tablet : 768px;
$breakpoint-desktop: 1024px;
$breakpoint-phone: 480px;
$max-width: 1200px;
$font-title:'Quattrocento Sans';
$font-text:'EB Garamond', serif;
