.app {
  width: 100%;
  margin: 1em auto;
  text-align: center;
}

@media only screen and (min-width: 601px) {

  .app__ResultDesktop{
    display: flex;
    height: 70vh;
    border: 1px solid #000;
    padding: 1em;
    width: 99%;
    margin: 1em auto;
  }

}
