@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.app {
  width: 100%;
  margin: 1em auto;
  margin-bottom: 0;
  text-align: center;
  position: relative;
  min-height: 96vh;

}

@media only screen and (min-width: 601px) {

  .app__ResultDesktop{
    display: flex;
    height: 70vh;
    padding: 1em;
    width: 99%;
    margin: 1em auto;
  }

}
