@use 'src/styles/_vars';

.modifyProfile{
  
  width: 100%;
  overflow-x: hidden;
  margin:auto;

  @media (min-width:vars.$max-width){
    width:vars.$max-width;
  }

  &__title{
    font-size:3rem;
    padding-top: 2em;
    margin-bottom: 1.5em;
  }

    // &__mdp{
    //   border-radius: 30px;
    //   border: solid 0.1em vars.$dark-blue;
    //   padding: 0.3em;
    // }

  &__form {
    display: flex;
    flex-direction: column;
    
    &--infos{

      width:100%;
      // border:1px solid red;
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
    }

    &__label{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:start;
      // border:1px solid orange;
      padding-bottom:1rem;

      &__name{
        padding-bottom:0.5rem;
        font-size:1.2rem;
        
      }
    }

    &__field {
      // background-color: #f7f7f7;
      font-size: 1.2rem;
      padding: 1rem;
      border: solid 1px vars.$light-blue;
      font-weight:bold;
    }  



    // &__password{
    // height: 4em;
    // border-radius: 0px;
    // color: black;
    // background: #db286d7d;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    // }

    // &__input{
    // transform: scale(4);
    // display: inline-block;
    // width: 45%;
    // margin: auto;
    // margin-bottom: 4em;
    // }

    // &__label{
    //   font-size: 1.5em;
    //   display: inline-block;
    //   width: 55%;
    //   text-align: left;
    //   margin-bottom: 1em;

    // }
  }

}
