@use 'src/styles/vars';

.homePageMap{
  // border:5px solid black;
  width:70%;
  height:800px;
  // border:1px solid green;
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center;

}
