@use 'src/styles/_vars';

.profileResult{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  // padding-bottom: 1.5rem;
  background-color: #f0f0f0;
  box-shadow: 4px 3px 9px rgba(0,0,0,.25);
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  @media only screen and (min-width: 601px) {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 1em;
  }
  @media only screen and (min-width: 601px) {
  &__picture{
    width: unset;
    
  
    img{
    max-width: 325px;
    max-height: 325px;
   }
  }
}
  
  &__text{
    width: 100%;
    text-align: left;
    position: relative;
    display: grid;
    place-items: center;

  } 

    &__name{
      font-size: 1.5rem;
      padding-top: 1rem;
      text-align: center;
      text-transform: capitalize;
      font-family: vars.$font-text;

      @media only screen and (min-width: 601px) {
        font-size: 2rem;
      }

    }
  
    &__biography{
      margin: auto;
      margin-bottom: 1em;
      font-size: 1rem;
      padding-top: .8rem;
      width: 90%;
      font-style: italic;
      text-align: justify;
      font-family: vars.$font-text;

      @media only screen and (min-width: 601px) {
        font-size: 1.25rem;
        font-style: initial;
      }
    }


    &__link{
      border: solid vars.$dark-blue 1px;
      width: 60%;
      margin: auto;
      text-align: center;
      border-radius: 15px;
      height: 1.5em;
      margin-bottom: 1em;
      color: vars.$dark-blue;
      line-height: 1.5em;
      font-family: vars.$font-text;
    }

  

  
  
  &__Title{
    font-size: 1.75em;
    width: 100%;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    height: 2em;
    display: grid;
    place-items: center;
  }

  &__List{
    height: 13em;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 601px) {

  .profilesResults{
   
  &__Picture{
   // width:100%
  }

  &__LeftFlex{
    margin-top:1em;
    display: flex;
    width: 15%;
  }

  &__RightFlex{
    padding-left: 0.5em;
    margin-top:1em;
    display: flex;
    width: 85%;
    flex-direction: column;
  }

  &__Name{
    margin-bottom: 0.2em;
  }

 
}

@media only screen and (min-width: 601px) {

  .profileResult{
   //  margin-right: 2%;
    
    &__Picture{
      width:unset;
      object-fit: contain;

    }

  }

  .profileResult__Card{
    width: 100%;
    
  }

}
}
