.searchBar{
  border-radius: 40px;
  width: 80%;
  margin: 3em auto auto;

  &__form{
    position: relative;
  }

  &__input{
    width: 100%;
    padding-left: 1em;
    border: none;
    border-radius: 40px;
    font-size: 1.25em;
    height: 2.5em;
    color: black;
    background-color: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__icon{
    position: absolute;
    right: 10%;
    top: 27%;
    width: 1.25em;
  }
}

@media only screen and (min-width: 601px) {
  .searchBar{
    margin: 12em auto auto;
    width: 60%;

    &__icon{
      right: 5%;
    }
  }

}
