

.profile {


  &__map {
    //border: solid gray 1px;

  }

  &__spot {
    //position: absolute;
 
   //margin-bottom:150px;
  }
  
}

.map{
  width: auto;
  height: 250px;
}

.spot{
  width: 20px;
  height: 20px;
}
