@use 'src/styles/vars';

.header{
  margin-top: unset;
  position: static;
}

@media only screen and (min-width: 601px) {
  .header{
    margin-top: -1em;
    position: relative;
    background-color: vars.$light-grey;
  }
}
