@use 'src/styles/vars';

.navBar{
  z-index: 50;
  position: fixed;
  bottom:0;
  background-color: #C4C4C4;
  width: 100%;
  color:#000000;
  text-align: center;
  
  &__list{
    display:flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items:center;
    position: relative;
    z-index: 5;
    
  }

  &__title{
    margin-top: 0.3em;
    font-size:0.8rem;
  }

  &__rounded{
    display: none;
  }
}

.navBar img{
  display :block;
  margin: auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

@media only screen and (min-width: 601px) {
  .navBar {
    position: fixed;
    top: 5%;
    bottom: unset;
    right: 0;
    width: 35%;

    &__title{
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    &__rounded{
      display: block;
      position: absolute;
      left: -2em;
      background-color: #c4c4c4;
      color:#c4c4c4 ;
      width: 4em;
      height: 100%;
      border-radius: 50%;
    }
  }

}

@media only screen and (min-width: vars.$max-width) {
  .navBar {
    width:420px;
  }
}
