@use 'src/styles/_vars';


.footer {

  //border-top: 1px black solid;
  background-color: vars.$light-blue;
  display: none;
  //background: #ccc;
  width: 100%;
  position: absolute;
  bottom: 0;
  

  &__list{
  display:flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items:center;
  text-decoration: underline;
  }

}

@media only screen and (min-width: 601px) {

  .footer{
   display: block;
}

}
// -- definir la couleur exact du footer sur le spring 3 lors d'un dailyScrum !!!!
