@use 'src/styles/_vars';


.footer {

  background-color: vars.$light-blue;
  width: 100%;
  margin-top:4rem;

  &__list{
    margin:auto;
    flex-wrap: nowrap;
    text-decoration: underline;
    margin-top:3rem;
    padding:3rem 0 1rem;



    @media (min-width: vars.$max-width) {
      width: vars.$max-width;
    }

  }

  &__item{
    padding: 3.5rem;
    margin: 0 2rem;
    display:inline;
    font-family: vars.$font-title;
    font-size:1.2rem;
    color:white;
    text-transform: uppercase;
    
  }

  &__ref{
    text-align:left;
    margin-top:2rem;
    margin-bottom:1rem;
    width:100%;
    font-family: vars.$font-title;
    padding-left:1rem;
    padding-bottom:1rem;
    font-style: italic;


  }

}
// -- definir la couleur exact du footer sur le spring 3 lors d'un dailyScrum !!!!
