@use 'src/styles/_vars';

.modifyMyHobbies{
  
  width:80%;
      margin:2rem auto;
      border:1px solid red;
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      // position:relative;

  &__title {
    padding:1.5rem;
    font-size:1.2rem;
    border-bottom: 2px solid vars.$light-red;
    color:vars.$dark-color;
    margin-bottom:2rem;
   
  //   @media (min-width: vars.$breakpoint-tablet){
  //     // margin-top: 2em;
  //     font-weight: 700;
  //     font-size: 2.5em;
  //     text-align: left
  //   }
  }

  &__list{
    margin-bottom:2rem;

    &__item{
      padding:1.5rem 1.5rem 1.5rem 1.5rem;
      display:flex;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-radius:0.5rem;
      background-color: vars.$light-red;
      position: relative;

      &__text{
        padding-right:1rem;
        color: vars.$light-color;

      }

      &__removeButton{
        position:absolute;
        right:0.5rem;
        top:0.5rem;
        font-size:0.6rem;
        border-radius:50%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border:none;
        width:1.4rem;
        height:1.4rem;
        margin:auto;

      }

    }

  }

  &__subtitle{

  }

  &__form{

  }

  

}
