
@use 'src/styles/_vars';

.profile{
  
  display:flex;
  flex-direction:column
  
}

.card {
  
  border: solid gray 1px;
  background-color: vars.$light-blue;
  border-radius: 30px;

  &__title {
    font-weight: 700;
    text-align: left;
    padding: 1em;
    font-size: 1.5em;
        
  }

     
  
}

.about {


   margin-top: 2rem;
  @media (min-width: vars.$breakpoint-tablet) {

    margin-right: 50px;
    margin-top: 10rem;
    width: 90%;

  }

  &__description {
    line-height: 2%;
    text-align: left;
    padding: 1em;
    font-size: 1em;
  }
}

.hobbies {

  margin-top: 20px;
  

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }

  &__item {
    border: 1px solid grey;
    border-radius: 20px;
    width: 45%;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    background-color: vars.$dark-blue;
    color: vars.$light-color
  }

}
